filterpy==1.4.5
scikit-image~=0.22.0
lap==0.4.0
numpy~=1.26.3
opencv-python~=4.9.0.80
ultralytics~=8.1.2
matplotlib~=3.8.2
tensorflow~=2.14.0
scipy~=1.11.4
scikit-learn~=1.4.0
harvesters~=1.4.2
genicam~=1.3.0
setuptools~=68.2.0